apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: obs-client-dotnet
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: obs-client-dotnet
  name: obs-client-dotnet
spec:
  output:
    to:
      kind: ImageStreamTag
      name: obs-client-dotnet:latest
  source:    
    type: Git
    git: 
      uri: 'https://github.com/CSA-RH/observability-demo-framework.git'
      ref: feature/installation
    contextDir: obs-clients/obs-client-api-dotnet
  strategy:
    dockerStrategy: 
      dockerfilePath: Dockerfile
    type: Docker
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: obs-client-node
  labels: 
    observability-demo-framework: cicd
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: obs-client-node
    observability-demo-framework: cicd
  name: obs-client-node
spec:
  output:
    to:
      kind: ImageStreamTag
      name: obs-client-node:latest
  source:    
    type: Git
    git: 
      uri: 'https://github.com/CSA-RH/observability-demo-framework.git'
      ref: feature/installation
    contextDir: obs-clients/obs-client-api-node
  strategy:
    dockerStrategy: 
      dockerfilePath: Dockerfile
    type: Docker
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: obs-front
  labels:
    observability-demo-framework: 'cicd'
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:    
    build: obs-front
    observability-demo-framework: 'cicd'
  name: obs-front
spec:
  output:
    to:
      kind: ImageStreamTag
      name: obs-front:latest
  source:
    binary: {}
    type: Binary
  strategy:
    dockerStrategy: 
      dockerfilePath: Dockerfile
    type: Docker
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: obs-main-api
  labels: 
    observability-demo-framework: 'cicd'
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: obs-main-api    
    observability-demo-framework: 'cicd'
  name: obs-main-api
spec:
  output:
    to:
      kind: ImageStreamTag
      name: obs-main-api:latest
  source:
    binary: {}
    type: Binary
  strategy:
    dockerStrategy: 
      dockerfilePath: Dockerfile
    type: Docker
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: obs-sync-users
  labels: 
    observability-demo-framework: 'users'
spec:
  lookupPolicy:
    local: true
---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: obs-sync-users
    observability-demo-framework: 'cicd'
  name: obs-sync-users
spec:
  output:
    to:
      kind: ImageStreamTag
      name: obs-sync-users:latest
  source:
    binary: {}
    type: Binary
  strategy:
    dockerStrategy: 
      dockerfilePath: Dockerfile
    type: Docker