apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: idp-server
  labels: 
    observability-demo-framework: idp
spec:  
  ingress: 
    className: openshift-default
    enabled: true
  instances: 1
  hostname: 
    hostname: ${OAUTH_ENDPOINT}
  http: 
    tlsSecret: ${TLS_SECRET_NAME}
  db:
    vendor: postgres
    host: postgres-db
    usernameSecret:
      name: keycloak-database-secret
      key: username
    passwordSecret:
      name: keycloak-database-secret
      key: password
  proxy:
    headers: xforwarded # double check your reverse proxy sets and overwrites the X-Forwarded-* headers