apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql-db
  namespace: {{ .Values.rootNamespace }}
  labels: 
    observability-demo-framework: idp
  annotations: 
    argocd.argoproj.io/sync-wave: "1"
spec:
  serviceName: postgresql-db-service
  selector:
    matchLabels:
      app: postgresql-db
  replicas: 1
  template:
    metadata:
      labels:
        app: postgresql-db
    spec:
      containers:
        - name: postgresql-db
          image: postgres:15
          volumeMounts:
            - mountPath: /data
              name: cache-volume
          env:
            - name: POSTGRES_USER
              value: testuser
            - name: POSTGRES_PASSWORD
              value: testpassword
            - name: PGDATA
              value: /data/pgdata
            - name: POSTGRES_DB
              value: keycloak
      volumes:
        - name: cache-volume
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  namespace: {{ .Values.rootNamespace }}
  labels: 
    observability-demo-framework: idp
  annotations: 
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: postgresql-db
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
---
# --- Create database secret ---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-database-secret
  namespace: {{ .Values.rootNamespace }}
  labels: 
    observability-demo-framework: idp
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
data:
  password: dGVzdHBhc3N3b3Jk
  username: dGVzdHVzZXI=