
#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* BUTTONS FOR SIMULATION MANAGEMENT */
/* General Button Reset */
button {
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 150px;
  /* Set fixed width for all buttons */
}

/* Red Hat Style Button */
.redhat-button {
  background-color: #ee0000;
  /* Red Hat Red */
  color: white;
  border: 1px solid #aa0000;
  /* Darker Red border */
}

.redhat-button:hover {
  background-color: #cc0000;
  /* Darker on hover */
  border-color: #880000;
  /* Darker border on hover */
}

/* Disabled Button Style */
.redhat-button:disabled {
  background-color: #d3d3d3;
  /* Light gray for disabled */
  color: #808080;
  /* Gray text for disabled */
  border-color: #b0b0b0;
  /* Light gray border */
  cursor: not-allowed;
  /* Not-allowed cursor for disabled buttons */
}

.agent-button {
  background-color: #f2d1d1;
  color: #333;
  border-color: #e57373;
  font-size: x-small;
  max-width: 80px;
  padding: 5px;
  margin: 2px
}

.agent-button:hover {
  background-color: #e1b0b0;
}

/* General label style */
.label {
  font-family: "Red Hat Text", sans-serif;
  font-size: 12px;
  /* Slightly small text for labels */
  padding: 1px 8px;
  /* Padding for the rounded box shape */
  background-color: #f5f5f5;
  /* Light gray background */
  border-radius: 8px;
  /* Rounded corners for the label */
  color: #333;
  /* Text color */
  border: 1px solid #ccc;
  /* Subtle border */
  white-space: nowrap;
  /* Ensure text doesn't wrap inside the label */
  display: inline-block;
  /* Makes sure label behaves like a block inside inline contexts */
}

/* Additional styles for specific label statuses */
.label-customer {
  background-color: #f7e0e0;
  /* Light green background */
  border-color: #f83030;
  /* Green border */
  color: #7d2e2e;
  /* Dark green text */
}

/* Additional styles for specific label statuses */
.label-waiter {
  background-color: #e0e2f7;
  /* Light green background */
  border-color: #8188c7;
  /* Green border */
  color: #362e7d;
  /* Dark green text */
}


/* Additional styles for specific label statuses */
.label-java {
  background-color: #f7f7e0;
  /* Light green background */
  border-color: #c7c081;
  /* Green border */
  color: #7d7c2e;
  /* Dark green text */
}


/* Additional styles for specific label statuses */
.label-cook {
  background-color: #e0f7ea;
  /* Light green background */
  border-color: #81c784;
  /* Green border */
  color: #2e7d32;
  /* Dark green text */
}


/* KEY VALUE PAIRS FOR AGENT INFO STYLING */ 
.key-value-pair {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.key {
  font-weight: bold;
  color: #333;
}

.value {
  color: #555;
}

.container-agent {
  max-width: 560px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.container-agent div:last-child {
  border-bottom: none;
}

/* Table effects */
.agent-table {
  width: 100%;
  border-collapse: collapse;
}

.agent-table th,
.agent-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table-row {
  cursor: pointer;
}

.selected {
  background-color: #d3d3d3; /* Highlight color for selected row */
}